body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    justify-content: space-between; /* 使内容之间有空间，从而将计数器推到底部 */
    background-color: #f4f4f4;
    padding: 20px;
}

#imageDisplay {
    max-width: 933.5px; /* 宽度的一半 */
    max-height: 677px; /* 高度的一半 */
}

.controls {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* 确保进度条长度合适 */
#slider {
    width: 933.5px; /* 图片宽度的一半 */
    max-width: 100%; /* 确保在小屏幕上不会超出屏幕宽度 */
}

